{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}

    <main role="main">
      <br>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">DMV2U</h1>
          <p>Find the status of vanity license plates.</p>
            <form class="form-inline my-2 my-lg-0" action="/quick-search/" method="POST">
  	          <input name="quick-search" class="form-control mr-sm-2" type="text" placeholder="Quick Search" aria-label="Search">
  	          <button class="btn btn-outline-success my-2 my-sm-0" id="quick-search-btn" type="submit">Quick Search</button>
  	        </form>
            <form class="form-inline my-2 my-lg-0" action="/search/" method="GET">
  	          <button class="btn btn-outline-success my-2 my-sm-0" id="interactive-search-btn" type="submit">Interactive Search</button>
  	        </form>
          <br>
          {% if status %}
            <div>
              <p> {{ search }} is {{ status }}. Last checked on {{ last }}.</p>
            </div>
          {% endif %}
          {% if record %}
            <div>
              <p> {{ record }}</p>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Available</h2>
            <p>Not feeling creative? Check a list of available plates.</p>
            <form class="form-inline my-2 my-lg-0" action="/available/" method="POST">
              <button class="btn btn-secondary" name="available" type="submit">View list &raquo;</button>
            </form>
          </div>
          <div class="col-md-4">
            <h2>Restricted</h2>
            <p>Check this list to see which plate requests have been denied.</p>
            <form class="form-inline my-2 my-lg-0" action="/restricted" method="POST">
              <button class="btn btn-secondary" name="restricted" type="submit">View list &raquo;</button>
            </form>
          </div>
          <div class="col-md-4">
            <h2>Assigned</h2>
            <p>Check here to see if a plate is already assigned.</p>
            <form class="form-inline my-2 my-lg-0" action="/assigned" method="POST">
              <button class="btn btn-secondary" name="assigned" type="submit">View list &raquo;</button>
            </form>
          </div>
        </div>
      </div>
    
    {% if list in lists %}

      <div>
        
      </div>

    {% endif %}

    </main>

{% endblock %}
