<!DOCTYPE html>
<html>
<head>
	<title>DMV2U</title>
  <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">DMV2U</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/available">Available</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/restricted">Restricted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assigned">Assigned</a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container-fluid" align="center">
    {% block main %}{% endblock %}
  </main>

  <footer class="container">
    <p>&copy; Team Solo 2020</p>
  </footer>

</body>

</html>